%font-prime {
    font-family: 'Roboto', Verdana, sans-serif;
}

%matherial-shadow {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

%wrapper {
  margin: auto;
  max-width: 100%;
  padding: 10px;
}

%matherial-theme {
  background-color: rgba(255, 255, 255, 0);
}

%matherial-controls {
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

%matherial-window {
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

%matherial-button {
  cursor: pointer;
  background-size: 200% 200%;
  background-color: rgb(200, 200, 200);
  &:hover {
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    transform: rotate(180deg);
  }
}

%matherial-option {
  text-shadow: 0 0 1px #fff;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: rgb(200, 200, 200);
  color: #00acb3;
  &:hover {
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    color: #00ab5e;
  }
}
