// Base colors
$base-white: #ffffff;
$base-gray: #ECECEC;
$base-red: #D82C32;
$base-black: #2F281E;
$base-purple: #7752BE;
$base-yellow: #FAB005;
$base-blue: #4DADF7;
$base-pink: #FF5872;


// Hover
$hover-white: #f0f0f0;
$hover-gray: #e2e2e2;
$hover-red: #c51b20;
$hover-black: #544837;
$hover-purple: #6a44b1;
$hover-yellow: #fa9805;
$hover-blue: #4d89f7;
$hover-pink: #e6465e;


// Focus
$focus-white: #e6e6e6;
$focus-gray: #d4d4d4;
$focus-red: #bb181d;
$focus-black: #4b4032;
$focus-purple: #603ba5;
$focus-yellow: #eb8d01;
$focus-blue: #3d7bec;
$focus-pink: #d33a51;